body{
    text-align:center
}
#board{
    width:360px;
    height:360px;
    background-color:white;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    border:10px solid;
}
#board img{
    width:118px;
    height:118px;
    border:1px solid;
}

